{% extends 'nightstand_dashboard/base.html' %}

{% block content %}
<div class="book-detail-card">
    <img src="{{book.thumbnail}}" alt="{{book.title}} cover" width="150"/>
    <h1>{{book.title}}</h1>
</div>
{% for book_chapter in book_chapters %}
{% if book_chapter.completed %}
<div class="chapter-card completed" id="chapter-card-{{book_chapter.id}}">
{% elif book_chapter.is_late %}
<div class="chapter-card overdue" id="chapter-card-{{book_chapter.id}}">
{% else %}
<div class="chapter-card" id="chapter-card-{{book_chapter.id}}">
{% endif %}
    <p>Chapter: {{book_chapter.chapter}}</p>
    <input id="chapterDueDateField-{{book_chapter.id}}" type="date" value="{{book_chapter.duedate|date:'Y-m-d'}}"/>
    <input class="duedate-update" id="chapterDueDate-{{book_chapter.id}}" type="button" value="update"/>
    {% if not book_chapter.completed%}
    <input class="chapter-complete" id="chapter-{{book_chapter.id}}" type="button" value="completed"/>
    {% endif %}
    <a href="/comment/{{book_chapter.chapter.id}}?next=book"><input type="button" value="add comment" /></a>
</div>
{% endfor %}
<div id="book-detail-comments">
        <h3>Comments</h3>
        {% for comment in comments %}
        <div class="comment-card">
            <h5>{{comment}}</h5>
            <h6>Chapter: {{comment.chapter}}</h6>
            <p>{{comment.content}}</p>
            {% if reader in comment.likes.all %}
            <input id="comment-{{comment.id}}" class="like-button" type="button" value="Unlike"/>
            {% else %}
            <input id="comment-{{comment.id}}" class="like-button" type="button" value="Like"/>
            {% endif %}
            <p >Likes: <span id="like-count-{{comment.id}}">{{comment.likes.count}}</span></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}