{% extends 'nightstand_dashboard/base.html' %}

{% block content %}
<div class="book-detail-container">
    <div class="detail-left">
        <div class="book-detail-card">
            <img src="{{book.thumbnail}}" alt="{{book.title}} cover" width="150"/>
            <h3>{{book.title}}</h3>
            <h5>{{book.author}}</h5>
            <h6>
            {% for group in groups %}
                <a href="/groups/{{group.id}}"><span class="badge badge-primary">{{group}}</span></a>
            {%  endfor %}
            </h6>
        </div>
        <div class="book-detail-chapters">
            {% for book_chapter in book_chapters %}
            {% if book_chapter.completed %}
            <div class="chapter-card completed" id="chapter-card-{{book_chapter.id}}">
            {% elif book_chapter.is_late %}
            <div class="chapter-card overdue" id="chapter-card-{{book_chapter.id}}">
            {% else %}
            <div class="chapter-card" id="chapter-card-{{book_chapter.id}}">
            {% endif %}
                <p>Chapter: {{book_chapter.chapter}}</p>
                <input id="chapterDueDateField-{{book_chapter.id}}" type="date" value="{{book_chapter.duedate|date:'Y-m-d'}}"/>
                <i class="fas fa-edit duedate-update" id="chapterDueDate-{{book_chapter.id}}"></i>
                <a href="/comment/{{book_chapter.chapter.id}}?next=book"><i class="far fa-comment"></i></a>
                {% if not book_chapter.completed%}
                <i id="chapter-{{book_chapter.id}}" class="fas fa-clipboard-check chapter-complete"></i>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="book-detail-comments">
            <h3>Recent Comments</h3>
        <div class="detail-comment-box">
            {% for comment in comments %}
            <div class="card comment-card">
                    <div class="card-header">
                        <span>{{comment.chapter.book}}:</span>
                        <span>{{comment.chapter}}</span>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{comment}}</h5>
                    <p class="card-text"><em>{{comment.content}}</em></p>
                {% if reader in comment.likes.all %}
                    <i class="fas fa-thumbs-up like-button" id="comment-{{comment.id}}"></i>
                {% else %}
                    <i class="far fa-thumbs-up like-button" id="comment-{{comment.id}}"></i>
                {% endif %}
                <span id="like-count-{{comment.id}}">{{comment.likes.count}}</span> 
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}