{% extends 'nightstand_dashboard/base.html' %}

{% block content %}
<a href="/create_group/{{olid}}"><input type="button" value="Create Group"></a>
{% if groups %}
{% for group in groups %}
<div class="group-card">
    <img src={{group.book.thumbnail}} alt={{group.book}} width="50">
    <h4>{{group.book}}</h4>
    <h3>{{group}}</h3>
    <a href="/groups/{{group.id}}"><input type="button" value="View Group"/></a>
</div>
{% endfor %}
{% elif message %}
    <div class="group-msg">
        <h4>{{message}}</h4>
    </div>
{% endif %}
{% endblock%}