{% extends 'nightstand_dashboard/base.html' %}

{% block content %}
<a href="/create_group/{{olid}}"><button class="btn btn-warning">Create Group</button></a>
{% if groups %}
{% for group in groups %}
<div class="group-card">
    <img src={{group.book.thumbnail}} alt={{group.book}} width="150">
    <h4>{{group}}</h4>
    <p>{{group.book}}</p>
    <a href="/groups/{{group.id}}"><button class="btn btn-primary">View Group</button></a>
</div>
{% endfor %}
{% elif message %}
    <div class="group-msg">
        <h4>{{message}}</h4>
    </div>
{% endif %}
{% endblock%}