<nav class="navbar navbar-light navbar-expand-sm bg-light">
    <a class="navbar-brand" href="#">
        <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
        nightStand
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span>User: {{user.username}}</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add_book">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">My Nightstand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>  
{% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/registration">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
        </ul>
    </div>
{% endif %}
</nav>