/**************************
Group Progress Box
**************************/
.reader-square-completed {
    background-color: green;
}

.reader-square {
    background-color: bisque;
}

.reader-square-overdue {
    background-color: red;
}

.reader-header {
    margin: 0 2px 0 2px;
}

.group-chapter-card {
    background-color: lightgray;
}
 
#readers-progress {
   display: flex;
   flex-direction: row;
}

#group-progress {
    display: flex;
}

.group-chapter-card,
.reader-div, {
    display: inline;
}

.reader-div {
    width: 100px;
    text-align: center
}

.group-chapter-card, 
.square {
    margin: 2px;
}

.square {
    height: 70px;
}


.dashboard-book-card {
    width: 100px;
}

.progress-bar {
    background-color: greenyellow;
}

.book-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
